.stimulus {
  position: absolute;
}

.stimulus.color {
  background-image: url('../img/blue.png');
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
}

.stimulus.color.target {
  background-image: url('../img/green.png');
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
}

.stimulus.line {
  background-image: url('../img/horizontal.png');
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
}

.stimulus.line.target {
  background-image: url('../img/vertical.png');
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
}

#trial-1.near {
  left: 400px;
  top: 300px;
}

#trial-1.far {
  left: 400px;
  top: 0px;
}

#trial-2.near {
  left: 438px;
  top: 308px;
}

#trial-2.far {
  left: 553px;
  top: 31px;
}

#trial-3.near {
  left: 470px;
  top: 330px;
}

#trial-3.far {
  left: 682px;
  top: 118px;

}

#trial-4.near {
  left: 492px;
  top: 362px;
}

#trial-4.far {
  left: 769px;
  top: 257px;
}

#trial-5.near {
  left: 500px;
  top: 400px;
}

#trial-5.far {
  left: 800px;
  top: 400px;
}

#trial-6.near {
  left: 492px;
  top: 438px;
}

#trial-6.far {
  left: 769px;
  top: 543px;
}

#trial-7.near {
  left: 470px;
  top: 470px;
}

#trial-7.far {
  left: 682px;
  top: 682px;
}

#trial-8.near {
  left: 438px;
  top: 492px;
}

#trial-8.far {
  left: 553px;
  top: 769px;
}

#trial-9.near {
  left: 400px;
  top: 500px;
}

#trial-9.far {
  left: 400px;
  top: 800px;
}

#trial-10.near {
  left: 362px;
  top: 492px;
}

#trial-10.far {
  left: 247px;
  top: 769px;
}

#trial-11.near {
  left: 330px;
  top: 470px;
}

#trial-11.far {
  left: 118px;
  top: 682px;
}

#trial-12.near {
  left: 308px;
  top: 438px;
}

#trial-12.far {
  left: 31px;
  top: 543px;
}

#trial-13.near {
  left: 300px;
  top: 400px;
}

#trial-13.far {
  left: 0px;
  top: 400px;
}

#trial-14.near {
  left: 308px;
  top: 362px;
}

#trial-14.far {
  left: 31px;
  top: 257px;
}

#trial-15.near {
  left: 330px;
  top: 330px;
}

#trial-15.far {
  left: 118px;
  top: 118px;
}

#trial-16.near {
  left: 362px;
  top: 308px;
}

#trial-16.far {
  left: 247px;
  top: 31px;
}

#fixation-cross {
  position: absolute;
  left: 400px;
  top: 400px;
}

#trial {
  position: relative;
  margin: auto;
  min-width: 820px;
  max-width: 820px;
}