.stimulus {
  position: absolute;
}

.stimulus.color {
  background-image: url('../img/blue.png');
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
}

.stimulus.color.target {
  background-image: url('../img/green.png');
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
}

.stimulus.line {
  background-image: url('../img/horizontal.png');
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
}

.stimulus.line.target {
  background-image: url('../img/vertical.png');
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
}

#trial-1.near {
  left: 400px;
  top: 200px;
}

#trial-1.far {
  left: 400px;
  top: 0px;
}

#trial-2.near {
  left: 476px;
  top: 216px;
}

#trial-2.far {
  left: 553px;
  top: 31px;
}

#trial-3.near {
  left: 541px;
  top: 259px;
}

#trial-3.far {
  left: 682px;
  top: 118px;

}

#trial-4.near {
  left: 584px;
  top: 324px;
}

#trial-4.far {
  left: 769px;
  top: 257px;
}

#trial-5.near {
  left: 600px;
  top: 400px;
}

#trial-5.far {
  left: 800px;
  top: 400px;
}

#trial-6.near {
  left: 584px;
  top: 476px;
}

#trial-6.far {
  left: 769px;
  top: 543px;
}

#trial-7.near {
  left: 541px;
  top: 541px;
}

#trial-7.far {
  left: 682px;
  top: 682px;
}

#trial-8.near {
  left: 476px;
  top: 584px;
}

#trial-8.far {
  left: 553px;
  top: 769px;
}

#trial-9.near {
  left: 400px;
  top: 600px;
}

#trial-9.far {
  left: 400px;
  top: 800px;
}

#trial-10.near {
  left: 324px;
  top: 584px;
}

#trial-10.far {
  left: 247px;
  top: 769px;
}

#trial-11.near {
  left: 259px;
  top: 541px;
}

#trial-11.far {
  left: 118px;
  top: 682px;
}

#trial-12.near {
  left: 216px;
  top: 476px;
}

#trial-12.far {
  left: 31px;
  top: 543px;
}

#trial-13.near {
  left: 200px;
  top: 400px;
}

#trial-13.far {
  left: 0px;
  top: 400px;
}

#trial-14.near {
  left: 216px;
  top: 324px;
}

#trial-14.far {
  left: 31px;
  top: 257px;
}

#trial-15.near {
  left: 259px;
  top: 259px;
}

#trial-15.far {
  left: 118px;
  top: 118px;
}

#trial-16.near {
  left: 324px;
  top: 216px;
}

#trial-16.far {
  left: 247px;
  top: 31px;
}

#trial-17.near {
  left: 320px;
  top: 0px;
}

#trial-17.far {
  left: 320px;
  top: 20px;
}

#trial-18.near {
  left: 340px;
  top: 0px;
}

#trial-18.far {
  left: 340px;
  top: 20px;
}

#trial-19.near {
  left: 360px;
  top: 0px;
}

#trial-19.far {
  left: 360px;
  top: 20px;
}

#trial-20.near {
  left: 380px;
  top: 0px;
}

#trial-20.far {
  left: 380px;
  top: 20px;
}
